<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
      rel="stylesheet"
    />
    <title>Math</title>
  </head>
  <body>
  <div th:insert="~{parts/navbar::nav}"></div>
    <div class="container-lg mt-4 mb-4">
      <div class="row g-0 justify-content-center">
        <div class="col-12 col-md-6">
          <img class="img-fluid h-100" src="/math.jpg" />
        </div>
        <div class="col-12 col-md-6 p-3">
          <div>
            <h3 class="text">Описание</h3>
              Математика – это наука о количественных
              отношениях и пространственных формах
              действительного мира. В нее входят такие
              дисциплины, как арифметика, алгебра, геометрия,
              тригонометрия, высшая математика (аналитическая
              геометрия, линейная алгебра, математический анализ, дифференциальное и
              интегральное исчисления и др.). Каждая из них изучает количественные
              отношения и пространственные формы мира в особом аспекте и действует
              своими собственными методами.
              Математика характеризуется высокой степенью абстрактности ее
              понятий (точки, не имеющие площади, линии без толщины, множества
              любых предметов и т.п.) и высокой степенью их общности (в алгебре буква
              обозначает любое число, в математической логике рассматривается
              структура произвольных высказываний).
            <div class="mt-3">
              <h3>Организационные детали</h3>
              <li><strong>Стоимость :</strong> бесплатно на всех этапах.</li>
              <li>
                <strong>Формат:</strong> дистанционное обучение.
              </li>
              <li>
                <strong> Уровень :</strong> для всех.
              </li>
              <li>
                <strong>Длительность:</strong>
                3 часа.
              </li>
              <li>
                <strong>Документ об окончании:</strong>
                Сертификат.
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="p-3">
          <h3>Содержание учебного материала</h3>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Занятие</th>
              <th scope="col">Заголовок</th>
              <th scope="col">Длительность</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Лекция 1</td>
              <td>Основные понятия</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Лекция 2</td>
              <td>Основные понятия</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Лекция 3</td>
              <td>Основные понятия</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Лекция 4</td>
              <td>Логарифмы</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Лекция 5</td>
              <td>Матрицы</td>
              <td>-</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button
        type="button"
        style="border-radius: 10px"
        class="btn btn-primary p-3 mt-3 w-25"
      >
        Записаться
      </button>
    </div>
    <footer class="text-center" style="background-color: #f1f1f1">
      <div class="container pt-4"></div>

      <div
        class="text-center text-dark p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        © 2022 Kuzmenok Nikita
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
