<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
      rel="stylesheet"
    />
    <title>Event</title>
  </head>
  <body>
  <div th:insert="~{parts/navbar::nav}"></div>
    <div class="container-lg mt-4 mb-5">
      <div class="row my-5">
        <h3 class="text-center mb-4">НАШИ МЕРОПРИЯТИЯ</h3>
        <div class="dropdown mb-4">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Сортировка
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="form-check m-lg-2">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Математика
              </label>
            </div>
            <div class="form-check m-lg-2">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Физика
              </label>
            </div>
            <div class="form-check m-lg-2">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Английский язык
              </label>
            </div>
            <div class="form-check m-lg-2">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Информатика
              </label>
            </div>
            <a>
              <hr />
            </a>
            <div class="form-check m-lg-2">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Выделить все
              </label>
            </div>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card">
            <img src="/image/math.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Математика</h5>
              <p class="card-text">
                Наука о количественных отношениях и пространственных формах
                нашего мира.
              </p>
              <a href="#" class="btn btn-primary">Узнать больше </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card">
            <img src="/image/math.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Математика</h5>
              <p class="card-text">
                Наука о количественных отношениях и пространственных формах
                нашего мира.
              </p>
              <a href="#" class="btn btn-primary">Узнать больше </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card">
            <img src="/image/math.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Математика</h5>
              <p class="card-text">
                Наука о количественных отношениях и пространственных формах
                нашего мира.
              </p>
              <a href="#" class="btn btn-primary">Узнать больше </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card">
            <img src="/image/physics.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">Физика</h5>
              <p class="card-text">
                Наука о наиболее общих законах природы, её структуре, движении и
                правилах трансформации.
              </p>
              <a href="#" class="btn btn-primary">Узнать больше </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer
      class="text-center"
      style="
        background-color: #f1f1f1;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
      "
    >
      <div class="container pt-4"></div>

      <div
        class="text-center text-dark p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        © 2022 Kuzmenok Nikita
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
