<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
      rel="stylesheet"
    />
    <title>Math</title>
  </head>
  <body>
  <div th:insert="~{parts/navbar::nav}"></div>
    <div class="container-lg mt-4 mb-4">
      <div class="row g-0 justify-content-center">
        <div class="col-12 col-md-6">
          <img class="img-fluid h-100" src="/image/math.jpg" />
        </div>
        <div class="col-12 col-md-6 p-3">
          <div>
            <h3 class="text">Описание</h3>
            Приглашаем граждан Украины пройти курс Architecting on AWS. Он
            предназначен для архитекторов решений, инженеров разработки
            технических решений и разработчиков, стремящихся получить
            представление об архитектуре AWS. На этом курсе вы научитесь
            определять сервисы и функции для создания устойчивых, безопасных и
            высокодоступных ИТ-решений в облаке AWS. Архитектурные решения
            различаются в зависимости от отрасли, типов приложений и размера
            бизнеса. Авторизованные инструкторы AWS расскажут о передовых
            методах использования AWS Well-Architected Framework и проведут вас
            через процесс разработки оптимальных ИТ-решений на основе реального
            практического опыта. Модули посвящены безопасности аккаунтов, работе
            в сети, вычислениям, хранению, базам данных, мониторингу,
            автоматизации, контейнерам, бессерверной архитектуре, передовым
            решениям, а также резервному копированию и восстановлению. В конце
            курса вы попрактикуетесь в построении решения и будете уверенно
            применять полученные знания. Этот курс также поможет вам
            подготовиться к экзамену AWS Certified Solutions Architect —
            Associate.
          </div>
        </div>
      </div>
      <div class="row g-0 mt-5">
        <div class="p-3">
          <h3>Организационные детали</h3>
          <li>
            <strong>Аудитория :</strong> Украинцы от 18 лет из любой точки
            земного шара, имеющие доступ к Интернету, время и желание освоить
            направление AWS Cloud, и заинтересованы в поиске работы в Cloud
            индустрии.
          </li>

          <li><strong>Стоимость :</strong> бесплатно на всех этапах.</li>
          <li>
            <strong>Формат:</strong> виртуальные занятия под руководством
            инструктора с применением знаний на практике. Вы должны иметь
            возможность посещать не менее 80% занятий в режиме реального
            времени. Расписание и продолжительность: расписание приведено ниже
            (регулярно обновляется).
          </li>
          <li>
            <strong> Язык :</strong> лекции и консультации на украинском языке,
            обучающие материалы на английском языке.
          </li>
          <li>
            <strong>Начало курсов под руководством инструкторов:</strong>
            участники получают доступ к курсам после прохождения отбора. Если вы
            не прошли отбор в программу, вы можете зарегистрироваться на базовые
            курсы самостоятельного обучения (см. ниже).
          </li>
        </div>
      </div>
      <button
        type="button"
        style="border-radius: 10px"
        class="btn btn-primary p-3 mt-3 w-25"
      >
        Оставить заявку
      </button>
    </div>
    <footer class="text-center" style="background-color: #f1f1f1">
      <div class="container pt-4"></div>

      <div
        class="text-center text-dark p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        © 2022 Kuzmenok Nikita
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
